[submodule "pt2020_30236_nyamcz_balazs_assignment_1"]
	path = pt2020_30236_nyamcz_balazs_assignment_1
	url = ./
[submodule "pt2020_30236_nyamcz_balazs_assignment_2"]
	path = pt2020_30236_nyamcz_balazs_assignment_2
	url = ./
[submodule "pt2020_30236_nyamcz_balazs_assignment_3"]
	path = pt2020_30236_nyamcz_balazs_assignment_3
	url = ./
[submodule "pt2020_30236_nyamcz_balazs_assignment_4"]
	path = pt2020_30236_nyamcz_balazs_assignment_4
	url = ./
[submodule "pt2020_30236_nyamcz_balazs_assignment_5"]
	path = pt2020_30236_nyamcz_balazs_assignment_5
	url = ./
